*, *::before, *::after {
	box-sizing: border-box;
  margin:0;
  padding: 0;
}



:root{
  --danger-glow-rgb: 255, 0, 0;
  --danger-text-color: #f30;
  --glow-rgb: 255, 102, 0;
  --base-font: 'Times New Roman', Times, serif;
  --main-background: hsl(0, 0%, 0%);
  --font-color: hsl(0, 0%, 100%);
  --base-fontWeight: bold;
  --base-fontStretch: expanded;

  --eva-shadow:  0 0 2px #e19a86, 0 0 1.5px #854535, 0 0 1.5px #5c150c;
  --letter-spacing: -1.5px;

}

html, body {
  scrollbar-width: none;
  margin: 0;
  padding: 0;
  font-family: var(--base-font);
  color: var(--font-color);
  font-weight: var(--base-fontWeight);
  font-stretch: var(--base-fontStretch);
  /* height: 100%;
  width: 100%; */
  min-width: 100dvw;
  min-height: 100dvh;
  display: flex;
  scroll-behavior: smooth;

  /* border: solid 2px rebeccapurple; */
}

#canva{
  display: flex;
  flex-direction: column;
  background-color: var(--main-background);
  min-height: 100dvh;
  min-width: 100dvw;
  text-shadow: var(--eva-shadow);
}

/* #canva::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border:#ffffff 2rem solid;
  border-right: none;
  border-bottom: none;
  } */
  
  .card{
    flex: 0 1 auto;
    flex-wrap: nowrap;
    overflow: hidden;
    max-width: 100%;
    min-width: 60%;
    /* flex-grow:1; */
    padding-top: 4%;
    padding-left: 3%;
    padding-bottom: 5%;
    justify-content: center;
    padding-right: 3%;
    display: flex;
    flex-direction: column;
    /* border:solid 2px blueviolet; */
    border-right: none;
    /* box-shadow: inset 0px 0px 4px 2px white; */
  }

  .surname{
    letter-spacing: -.07rem;
    font-size: 2rem;
    font-size: clamp(2rem, 1rem + 5vw, 7rem);
    line-height: 1em;
    transform: scale(1, 1.5);
  }

  .lastname{
    letter-spacing: -.07rem;
    font-size: 2rem;
    font-size: clamp(2rem, 1rem + 5vw, 7rem);
    line-height: 1.2em;
    transform: scale(1, 1.5);
  }

  .portfolioText{
    opacity: 0;
    --base-transform: scale(1, 1.5);
    transform: var(--base-transform);
    animation: fadeInRight 0.8s 0.3s ease-out forwards;
    font-size: 3rem;
    font-size: clamp(3rem, 1.4285714285714286rem + 7.857142857142857vw, 14rem);
    line-height: 1em;
    transform: scale(1, 1.5);
  }
    

  .surname, .lastname{
    opacity: 0;
    --base-transform: scale(1, 1.5);
    transform: var(--base-transform);
    animation: fadeInDown 0.8s  0.8s ease-out forwards;
  }
  
  .project{
    opacity: 0;
    --base-transform: scale(1, 1.5);
    transform: var(--base-transform);
    animation: fadeInUp 0.8s 0.8s ease-out forwards;
    letter-spacing: -.07rem;
    font-family: sans-serif;
    line-height: 1.5em;
    font-size: 1.25rem;
    font-size: clamp(1.25rem, 0.7rem + 2.75vw, 4rem);
  }
  
  .description{
    opacity: 0;
    --base-transform: scale(1, 1.5);
    transform: var(--base-transform);
    animation: fadeInUp 0.8s 0.8s ease-out forwards;
    padding-top: 1rem;
    text-align: right;
    width: 70%;
    align-self: flex-end;
    transform: scale(1, 1.3);
    line-height: 1;
    font-size: clamp(1.25rem, 0.7rem + 2.75vw, 4rem);
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    /* border: solid 2px; */
  }

.showcase{
  position: relative;
  flex: 1 1 auto;
  border-left: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
  .mainBox {
    
    position: relative;
    display: flex;
    /* z-index: 0; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    overflow: hidden;
    gap: 10px;
    padding: 2px;
  
  }

  .mediaCanva{
  
    min-height: 60%;
    min-width: 90%;
    border-radius: 10px;
  
  }
  
  .stackBox{
    /* opacity:0; */
    display: flex;
    /* animation: fadeIn 1.3s 1.5s ease-out forwards; */
    /* flex: 0 1 auto; */
    width: 90%;
    padding: 1%;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-wrap: wrap;
    overflow: hidden;
    font-family: sans-serif;
    text-shadow: 0 0 3px #e19a86, 0 0 1.5px #854535, 0 0 1.5px #5c150c;
    
  }
  
  .stackElement{
    opacity: 0;
    white-space: nowrap;
    display: flex;
    text-align: center;
    align-items: center;       
    justify-content: center;    
    border-radius: 2px;
    animation: popIn 0s ease-out forwards;
    box-shadow: 4px 4px 2px 1px rgba(var(--danger-glow-rgb), .5);
  }


  @keyframes popIn{
    100%{
      opacity: 1;
    }  
  }
  
  .techName{

    text-transform: uppercase;
    margin: 0;
    display: flex;
    line-height: 1;
  }

  #preview{
    width: 100%;
    height: 100%;
    background-image: url("/media/command-line.png");
    background-repeat: no-repeat;
    /* border: #734f9a solid 4px; */
    
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: var(--base-transform) translateY(50px);
    }
    100% {
      opacity: 1;
      transform: var(--base-transform) translateY(0);
    }
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: var(--base-transform) translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: var(--base-transform) translateY(0);
    }
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: var(--base-transform) translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: var(--base-transform) translateX(0);
    }
  }

/* DESKTOP */

@media (min-width: 1100px) {
  #canva {
    flex-direction: row;
  }

  .showcase {
    min-width: 35%;
  }


  @keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
  }
  
  .mainBox {
    border: none;
  }
} 



.mainBox .piece:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 1rem;
  margin-left: 1rem;
}

.mainBox .piece:nth-child(4) {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 1rem;
  margin-right: 1rem;
}


.mainBox .piece:nth-child(4) .hex-row:nth-child(1){
  opacity: 0;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.-blink {
  animation-name: blink;
  animation-duration: var(--blink-duration);
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
}

.piece{
  opacity: 0;
  position: absolute;
  animation: popIn 0s 1.3s ease-out both;
}

@keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hex {
  --edge-size:clamp(0.125rem, -0.09999999999999998rem + 1.125vw, 1.25rem);
  --diagonal-size: calc(var(--edge-size) * 2);
  --diagonal-s-size: calc(var(--edge-size) * 1.75); /* diagonal */
  --gutter-ratio: .85;
  --gutter-size: calc(var(--edge-size) * .35);
  --gutter-d-size: calc(var(--edge-size) / 2);
  float: left;
  height: var(--diagonal-s-size);
  margin-bottom: var(--gutter-size);
  margin-left: calc(var(--gutter-ratio) * var(--edge-size) / 2);
  margin-right: calc(var(--gutter-ratio) * var(--edge-size) / 2);
  position: relative;
  width: var(--edge-size);
  /* skin */
  --fill-color: var(--danger-text-color);
  --glow-color: rgba(var(--danger-glow-rgb), .5);
  background: var(--fill-color);
  box-shadow:
    0 0 var(--gutter-d-size) var(--glow-color),
    0 0 calc(var(--gutter-d-size) / 2) var(--glow-color);
  /* animation */
  --blink-duration: 3s;
  animation-delay: .1s;
}
.hex::before, .hex::after { content: ''; display: block; position: absolute; }
.hex:nth-child(odd) {
  top: calc((var(--diagonal-s-size) + var(--gutter-size)) / 2);
}
.hex:nth-child(2n) { animation-delay: .2s; }
.hex:nth-child(3n) { animation-delay: .3s; }
.hex-row:nth-child(even) > .hex { animation-delay: .3s; }
.hex-row:nth-child(even) > .hex:nth-child(2n) { animation-delay: .2s; }
.hex-row:nth-child(even) > .hex:nth-child(3n) { animation-delay: .1s; }

.-border-method .hex {
  --tip-height: var(--diagonal-s-size);
  --tip-width: calc(var(--edge-size) * 2);
}
.-border-method .hex::before, .-border-method .hex::after {
  border-color: transparent var(--fill-color);
  border-style: solid;
  border-width: calc(var(--tip-height) / 2) var(--tip-width);
}
.-border-method .hex::before { border-left: 0; left: calc(-1 * var(--tip-width)); }
.-border-method .hex::after { border-right: 0; right: calc(-1 * var(--tip-width)); }

.-rotate-method .hex::before, .-rotate-method .hex::after {
  background: var(--fill-color);
  box-shadow: inherit;
  height: var(--diagonal-s-size);
  width: var(--edge-size);
}
.-rotate-method .hex::before { transform: rotate(60deg); }
.-rotate-method .hex::after { transform: rotate(-60deg); }

