*, *::before, *::after {
	box-sizing: border-box;
  margin:0;
  padding: 0;
}

:root{
  --glow-rgb: 255, 102, 0;
  --base-font: 'Times New Roman', Times, serif;
  --main-background: hsl(0, 0%, 0%);
  --font-color: hsl(0, 0%, 100%);
  --base-fontWeight: bold;
  --base-fontStretch: expanded;

  --eva-shadow:  0 0 2px #e19a86, 0 0 1.5px #854535, 0 0 1.5px #5c150c;
  --letter-spacing: -1.5px;

}

html, body {
  scrollbar-width: none;
  margin: 0;
  padding: 0;
  font-family: var(--base-font);
  color: var(--font-color);
  font-weight: var(--base-fontWeight);
  font-stretch: var(--base-fontStretch);
  /* height: 100%;
  width: 100%; */
  min-width: 100dvw;
  min-height: 100dvh;
  display: flex;
  scroll-behavior: smooth;
  /* border: solid 2px rebeccapurple; */
}

#canva{
  display: flex;
  flex-direction: column;
  background-color: var(--main-background);
  min-height: 100dvh;
  min-width: 100dvw;
  text-shadow: var(--eva-shadow);
}

  .card{
    flex: 0 1 auto;
    flex-wrap: nowrap;
    overflow: hidden;
    max-width: 100%;
    /* flex-grow:1; */
    padding-top: 4%;
    padding-left: 3%;
    padding-bottom: 5%;
    padding-right: 3%;
    display: flex;
    flex-direction: column;
    /* border:solid 2px blueviolet; */
    border-right: none;
  }

  .surname{
    letter-spacing: -.07rem;
    font-size: 2rem;
    font-size: clamp(2rem, 1rem + 5vw, 7rem);
    line-height: 1em;
    transform: scale(1, 1.5);
  }

  .lastname{
    letter-spacing: -.07rem;
    font-size: 2rem;
    font-size: clamp(2rem, 1rem + 5vw, 7rem);
    line-height: 1.2em;
    transform: scale(1, 1.5);
  }

  .portfolioText{
    font-size: 3rem;
    font-size: clamp(3rem, 1.4rem + 8vw, 11rem);
    line-height: 1em;
    transform: scale(1, 1.5);
  }
    
  .showcase{
    /* flex-grow: 1; */
    flex: 1 1 auto;
    /* border:solid 2px rgb(58, 226, 43); */
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project{
    letter-spacing: -.07rem;
    font-family: sans-serif;
    transform: scale(1, 1.5);
    line-height: 1.5em;
    font-size: 1.25rem;
    font-size: clamp(1.25rem, 0.7rem + 2.75vw, 4rem);
  }

  .description{
    padding-top: 1rem;
    text-align: right;
    width: 70%;
    align-self: flex-end;
    transform: scale(1, 1.3);
    line-height: 1;
    font-size: clamp(1.25rem, 0.7rem + 2.75vw, 4rem);
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    /* border: solid 2px; */
  }

  .mainBox {
    position: relative;
    display: flex;
    z-index: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    overflow: hidden;
    gap: 10px;
    padding: 2px;
    border-radius: 10px;
    border: solid 2px;
    transition: transform 0.3s ease-in-out;
    border-image: repeating-linear-gradient(
      50deg,
      #965fd4 0%,
      #965fd4 40%,
      #8bd450 40%,
      #8bd450 80%
      ) 1;

    
      
  }

  .mainBox:hover{
    transform: scale(1.05);


  }
  
  .mediaCanva{
  
    min-height: 60%;
    min-width: 90%;
    border-radius: 10px;
  
  }
  
  .stackBox{
    display: flex;

    width: 90%;
    padding: 1%;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-wrap: nowrap;
    overflow: hidden;
    font-family: sans-serif;
    text-shadow: 0 0 3px #e19a86, 0 0 1.5px #854535, 0 0 1.5px #5c150c;
  
  }
  
  .stackElement{
    white-space: nowrap;
    display: flex;
    text-align: center;
    align-items: center;        /* vertical center */
    justify-content: center;    /* horizontal center */
    border: solid 2px #ffffff;
    border-radius: 2px;

    
  }
  
  .techName{
    margin: 0;
    display: flex;
    line-height: 1;

  }

  @keyframes steam {
    0% {
      box-shadow: 0 0 10px 5px rgba(200, 200, 200, 1); /* Greyish-white color */
    }
    50% {
      box-shadow: 0 0 20px 10px rgba(200, 200, 200, 1); /* Greyish-white color */
    }
    100% {
      box-shadow: 0 0 10px 5px rgba(200, 200, 200, 1); /* Greyish-white color */
    }
  }


/* DESKTOP */

@media (min-width: 1100px) {
  #canva {
    flex-direction: row;
  }

  .showcase {
    min-width: 35%;
  }


  @keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
  }
  
  .mainBox {
    border: none;
  }
  
  .mainBox::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#965fd4, #965fd4), linear-gradient(#8bd450, #8bd450), linear-gradient(#965fd4, #965fd4), linear-gradient(#8bd450, #8bd450);
  }
  
  .mainBox:hover::before {
    animation: rotate 4s linear 1;
  }
  
  .mainBox::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background-color: black;
    border-radius: 5px;
  }

} 
